<!doctype html>
<html lang="ca" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/scores.css">
    <script src="/js/scores.js" defer></script>
    <title>Scores</title>
</head>
<body>
<h1>Estadístiques de Partides</h1>
<div>
    <button id="topMovements">Menys moviments</button>
    <button id="topTime">Menys temps</button>
    <button id="myGames">Les meves partides</button>
</div>
<div class="topMovements">
    <h3>Top 5 partides amb Menys Moviments</h3>
    <table>
        <thead>
        <tr>
            <th>Nom de la Partida</th>
            <th>Nom jugador</th>
            <th>Moviments</th>
            <th>Temps(Segons)</th>
            <th>Map ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${top5Movements}">
            <td th:text="${record.gameName}"></td>
            <td th:text="${record.playerName}"></td>
            <td th:text="${record.movements}"></td>
            <td th:text="${record.time}"></td>
            <td th:text="${record.mapID}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="topTime">
    <h3>Top 5 partides amb Menys Temps</h3>
    <table>
        <thead>
        <tr>
            <th>Nom de la Partida</th>
            <th>Nom Jugador</th>
            <th>Moviments</th>
            <th>Temps(Segons)</th>
            <th>Map ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${top5Time}">
            <td th:text="${record.gameName}"></td>
            <td th:text="${record.playerName}"></td>
            <td th:text="${record.movements}"></td>
            <td th:text="${record.time}"></td>
            <td th:text="${record.mapID}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="myGames">
    <h3>Les teves Partides</h3>
    <table>
        <thead>
        <tr>
            <th>Nom de la Partida</th>
            <th>Nom Jugador</th>
            <th>Moviments</th>
            <th>Temps(Segons)</th>
            <th>Map ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${userRecords}">
            <td th:text="${record.gameName}"></td>
            <td th:text="${record.playerName}"></td>
            <td th:text="${record.movements}"></td>
            <td th:text="${record.time}"></td>
            <td th:text="${record.mapID}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer>
    Tornar a <a href="/start">Inici</a>
</footer>
</html>
