<!doctype html>
<html lang="ca">
<head>
    <link rel="stylesheet" href="/css/start.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>
    <h1>Start</h1>
    <form method="post">
        <label for="mapid">Eligeix quin mapa vols jugar</label>
        <select id="mapid" name="mapid">
            <option value="1">Mapa 1</option>
            <option value="2">Mapa 2</option>
        </select>
        <input type="submit" value="Entra">
    </form>
</body>
</html>